/* Font styling */
.roboto-flex-font {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
      color: white;
  }

h1 {
    font-weight: 1000 !important;
}

h2, #contact {
    font-weight: 400 !important;
}

/* Styling the content box */
#content {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./background-img.jpg");
    background-size: cover;
    background-position: center;
}

/* Text box */
#items {
    text-align: center;
}

/* Styling the text */
#title {
    font-size: 100px;
}

#subtitle {
    font-size: 50px;
    padding: 25px;
    margin-bottom: 20px;
}

#contact {
    background-color: grey;
    padding: 10px;
    font-size: 40px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

#contact:hover {
    background-color: rgb(41, 41, 41);
}